<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body class="home">

        <%- include('../partials/header') %>

            <main class="home">

                <!-- SLIDE HOME BANNER SPLIDE-->
                <div id="image-slider" class="splide">
                    <div class="splide__track">
                        <ul class="splide__list">
                            <!--                      bannerImages YA TIENE LAS IMAGENES. CONFIGURADO EN productsController.js -->
                            <% for( let i=0; i < bannerImages.length; i++ ) { %>
                                <li class="splide__slide">
                                    <!--                                                                      bannerImages[i].image  NO VA PORQUE YA HAY IMAGENES EN bannerImages-->
                                    <img class="img" src="/img/banner-splide/<%= bannerImages[i] %>" alt="">
                                </li>
                                <% } %>
                        </ul>
                    </div>
                </div>

                <!-- CATEGORIAS -->
                <section class="tipo-main">
                    <% productCategory.forEach(element=> { %>
                        <div class="mujer">
                            <!--           /RUTA URI -->
                            <a href="/products/<%= element.name %> ">
                                <!--                          = NOMBRE IMAGEN EN DB -->
                                <!--             /RUTA AL ARCHIVO  -->
                                <img src="/img/<%= element.image[0].file %> " alt="">
                                <!--                         = NOMBRE IMAGEN EN DB -->
                            </a>
                            <h4>
                                <%= element.description%>
                            </h4>
                        </div>
                        <% }) %>
                </section>

                <!-- SUGERIDOS CAROUSEL OWL-->
                <section class="sugest">
                    <h2>SUGERIDOS</h2>
                    <div class="line hide-s">
                        <div id="sugest-carousel" class="owl-carousel owl-theme">
                            <div class="item"><img src="/img/productWomanImg/gallery-1.jpg" alt=""></div>
                            <div class="item"><img src="/img/productWomanImg/gallery-2.jpg" alt=""></div>
                            <div class="item"><img src="/img/productWomanImg/gallery-3.jpg" alt=""></div>
                            <div class="item"><img src="/img/productWomanImg/gallery-4.jpg" alt=""></div>
                            <div class="item"><img src="/img/productWomanImg/gallery-5.jpg" alt=""></div>
                            <div class="item"><img src="/img/productWomanImg/gallery-6.jpg" alt=""></div>
                            <div class="item"><img src="/img/productWomanImg/gallery-7.jpg" alt=""></div>
                            <div class="item"><img src="/img/productWomanImg/gallery-8.jpg" alt=""></div>
                            <div class="item"><img src="/img/productWomanImg/gallery-9.jpg" alt=""></div>
                            <div class="item"><img src="/img/productWomanImg/gallery-10.jpg" alt=""></div>
                            <div class="item"><img src="/img/productWomanImg/gallery-11.jpg" alt=""></div>
                            <div class="item"><img src="/img/productWomanImg/gallery-12.jpg" alt=""></div>
                            <div class="item"><img src="/img/productWomanImg/gallery-13.jpg" alt=""></div>
                            <div class="item"><img src="/img/productWomanImg/gallery-15.jpg" alt=""></div>
                            <div class="item"><img src="/img/productWomanImg/gallery-16.jpg" alt=""></div>
                            <div class="item"><img src="/img/productWomanImg/gallery-17.jpg" alt=""></div>
                        </div>
                    </div>
                </section>
                <!-- SUGERIDOS CAROUSEL OWL /-->

                <!-- OFERTAS -->
                <h2>OFERTAS</h2>
                <section class="ofertas-main">
                    <% productsOff.forEach(element=> { %>
                        <article class="ofertas-android">
                            <div>
                                <!--          /RUTA URI -->
                                <a href="/products/productDetail/<%= element.id %>">
                                    <!--             /RUTA AL ARCHIVO              = NOMBRE IMAGEN EN DB -->
                                    <img src="/img/productDetail-splide/<%= element.image[0].file%>" alt="">
                                    <!--                                                                                   [0]   SELECCIONA IMAGEN POR INDICE -->
                                </a>
                                <h5>
                                    <%= element.discount %> % OFF
                                </h5>
                            </div>
                        </article>

                        <article class="ofertas-tablet">
                            <div>
                                <!--          /RUTA URI -->
                                <a href="/products/productDetail/<%= element.id %>">
                                    <!--             /RUTA AL ARCHIVO              = NOMBRE IMAGEN EN DB -->
                                    <img src="/img/productDetail-splide/<%= element.image[0].file%>" alt="">
                                    <!--                                                                                   [0]   SELECCIONA IMAGEN POR INDICE -->
                                </a>
                                <h5>
                                    <%= element.discount %> % OFF
                                </h5>
                            </div>
                        </article>

                        <article class="ofertas-desktop">
                            <div>
                                <!--          /RUTA URI -->
                                <a href="/products/productDetail/<%= element.id %>">
                                    <!--             /RUTA AL ARCHIVO              = NOMBRE IMAGEN EN DB -->
                                    <img src="/img/productDetail-splide/<%= element.image[0].file%>" alt="">
                                    <!--                                                                                   [0]   SELECCIONA IMAGEN POR INDICE -->
                                </a>
                                <h5>
                                    <%= element.discount %> % OFF
                                </h5>
                            </div>
                        </article>
                        <!-- COMPROBAR -->
                        <%= console.log(element.id); %>
                            <!-- IMPRIME 1 2 3 4 -->
                            <% }) %>

                </section>

                <!-- VISTOS CARROUSEL OWL-->
                <section class="vistos">
                    <h2>ULTIMOS VISTOS</h2>
                    <div class="line hide-s">
                        <div id="vistos-carRousel" class="owl-carousel owl-theme">
                            <div class="item"><img src="/img/productWomanImg/gallery-1.svg" alt=""></div>
                            <div class="item"><img src="/img/productWomanImg/gallery-2.svg" alt=""></div>
                            <div class="item"><img src="/img/productWomanImg/gallery-3.svg" alt=""></div>
                        </div>
                    </div>
                </section>
                <!-- VISTOS CARROUSEL OWL /-->


                <!-- 
        TARJETAS CON INDUMENTARIA SUGERIDA POR EL SITIO
        <h2>SUGERIDOS</h2>
        <section class="ofertas-main">
            < productsSugest.forEach(element=> { %>
                <article class="ofertas-desktop">
                    <div>
                        <a href="/products/productDetail/<= element.id %>"><img src="/img/<= element.image %>"
                                alt=""></a>
                        <br>
                    </div>
                </article>
                < }) %>
        </section>
        -->

            </main>

            <!-- BANNER HOME SPLIDE CONTROL -->
            <!-- <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script> ESTE TAMBIEN FUNCIONA-->
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    new Splide('.splide', {
                        type: 'loop', // 'slide' 'fade' 'loop'
                        perPage: 1,
                        autoplay: true,
                        speed: 1000, // VELOCIDAD DEL SLIDE 3000
                        interval: 7000, // RETARDO HASTA LA PRÓXIMA IMÁGEN 60000 * 2
                        pauseOnHover: false,
                        // rewind: false,
                        transition: 'fade'
                    }).mount();
                });
                add('<li class="splide__slide"></li>');
            </script>
            <!-- Splide /-->

            <!-- SUGERIDOS owl-carousel CONTROL -->
            <script type="text/javascript" src="/js/productWomanJs/responsee.js"></script>
            <script type="text/javascript" src="/js/productWomanJs/owl.carousel.js"></script>
            <script type="text/javascript">
                jQuery(document).ready(function ($) {
                    var owl = $('#sugest-carousel');
                    owl.owlCarousel({
                        nav: true,
                        dots: true,
                        items: 7,
                        loop: true,
                        navText: ["&#xf007", "&#xf006"],
                        autoplay: true,
                        autoplayTimeout: 3000,
                        autoHeight: true
                    });
                })
            </script>
            <!-- SUGERIDOS owl-carousel CONTROL / -->

            <!-- VISTOS owl-carousel CONTROL -->
            <script type="text/javascript" src="/js/productWomanJs/responsee.js"></script>
            <script type="text/javascript" src="/js/productWomanJs/owl.carousel.js"></script>
            <script type="text/javascript">
                jQuery(document).ready(function ($) {
                    var owl = $('#vistos-carousel');
                    owl.owlCarousel({
                        nav: true,
                        dots: true,
                        items: 7,
                        loop: true,
                        navText: ["&#xf007", "&#xf006"],
                        autoplay: true,
                        autoplayTimeout: 3000,
                        autoHeight: true
                    });
                })
            </script>
            <!-- VISTOS owl-carousel CONTROL / -->

            <!-- MENU DESPLEGABLE HOVER -->
            <script type="text/javascript" src="js/responsee.js"></script>

            <%- include('../partials/footer') %>
    </body>

</html>