<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body class="home">

        <%- include('../partials/header') %>

            <main class="home">

                <!-- SLIDE HOME -->
                <div id="image-slider" class="splide">
                    <div class="splide__track">
                        <ul class="splide__list">
                            <!--                      bannerImages YA TIENE LAS IMAGENES. CONFIGURADO EN productsController.js -->
                            <% for( let i=0; i < bannerImages.length; i++ ) { %>
                                <li class="splide__slide">
                                    <!--                                                                      bannerImages[i].image  NO VA PORQUE YA HAY IMAGENES EN bannerImages-->
                                    <img class="img" src="/img/banner-splide/<%= bannerImages[i] %>" alt="">
                                </li>
                                <% } %>
                        </ul>
                    </div>
                </div>

                <!-- CATEGORIAS -->
                <section class="tipo-main">
                    <% productCategory.forEach(element=> { %>
                        <div class="mujer">
                            <!--           /RUTA URI -->
                            <a href="/products/<%= element.name %> ">
                                <!--                          = NOMBRE IMAGEN EN DB -->
                                <!--             /RUTA AL ARCHIVO  -->
                                <img src="/img/<%= element.image[0].file %> " alt="">
                                <!--                         = NOMBRE IMAGEN EN DB -->
                            </a>
                            <h4>
                                <%= element.description%>
                            </h4>
                        </div>
                        <% }) %>

                </section>

                <!-- OFERTAS -->
                <h2>OFERTAS</h2>

                <section class="ofertas-main">

                    <% productsOff.forEach(element=> { %>
                        <article class="ofertas-android">
                            <div>
                                <!--          /RUTA URI -->
                                <a href="/products/productDetail/<%= element.id %>">
                                    <!--             /RUTA AL ARCHIVO              = NOMBRE IMAGEN EN DB -->
                                    <img src="/img/productDetail-splide/<%= element.image[0].file%>" alt="">
                                    <!--                                                                                   [0]   SELECCIONA IMAGEN POR INDICE -->
                                </a>
                                <h5>
                                    <%= element.discount %> % OFF
                                </h5>
                            </div>
                        </article>

                        <article class="ofertas-tablet">
                            <div>
                                <!--          /RUTA URI -->
                                <a href="/products/productDetail/<%= element.id %>">
                                    <!--             /RUTA AL ARCHIVO              = NOMBRE IMAGEN EN DB -->
                                    <img src="/img/productDetail-splide/<%= element.image[0].file%>" alt="">
                                    <!--                                                                                   [0]   SELECCIONA IMAGEN POR INDICE -->
                                </a>
                                <h5>
                                    <%= element.discount %> % OFF
                                </h5>
                            </div>
                        </article>

                        <article class="ofertas-desktop">
                            <div>
                                <!--          /RUTA URI -->
                                <a href="/products/productDetail/<%= element.id %>">
                                    <!--             /RUTA AL ARCHIVO              = NOMBRE IMAGEN EN DB -->
                                    <img src="/img/productDetail-splide/<%= element.image[0].file%>" alt="">
                                    <!--                                                                                   [0]   SELECCIONA IMAGEN POR INDICE -->
                                </a>
                                <h5>
                                    <%= element.discount %> % OFF
                                </h5>
                            </div>
                        </article>
                        <!-- COMPROBAR -->
                        <%= console.log(element.id); %>
                            <!-- IMPRIME 1 2 3 4 -->
                            <% }) %>

                </section>

                <!-- 
        TARJETAS CON INDUMENTARIA SUGERIDA POR EL SITIO
        <h2>SUGERIDOS</h2>
        <section class="ofertas-main">
            < productsSugest.forEach(element=> { %>
                <article class="ofertas-desktop">
                    <div>
                        <a href="/products/productDetail/<= element.id %>"><img src="/img/<= element.image %>"
                                alt=""></a>
                        <br>
                    </div>
                </article>
                < }) %>
        </section>
        -->

            </main>

            <!-- Splide HOME CONFIG -->
            <!-- <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script> ESTE TAMBIEN FUNCIONA-->
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    new Splide('.splide', {
                        type: 'loop', // 'slide' 'fade' 'loop'
                        perPage: 2,
                        autoplay: true,
                        speed: 3000, // VELOCIDAD DEL SLIDE
                        interval: 60000 * 2, // RETARDO HASTA LA PRÓXIMA IMÁGEN
                        pauseOnHover: false,
                        // rewind: false,
                        transition: 'fade'
                    }).mount();
                });
            </script>
            <!-- Splide /-->

            <%- include('../partials/footer') %>
    </body>

</html>