<!DOCTYPE html>
<html lang="en">
<<<<<<< HEAD
<%- include('../partials/head') %> 
=======
    <%- include('../partials/head') %> 
>>>>>>> bdf01cd59ec2351905ca1a83126cf5a4db5b95f2
<body>
    <%- include('../partials/header') %> 

    <main class= "home">
<section class = "banner-main">
<img src="/img/banner-1.jpg" alt="">
</section>


<section class ="tipo-main">

<div class="mujer">
    <a href="/productdetail"><img src="/img/img-producto-vestido-beige1.jpg" alt=""></a>
    <h4>ROPA MUJER</h4>
</div>
<div class = "hombre">
    <a href="/productdetail"><img src="/img/ropa-hombre.jpg" alt=""></a>
    <h4>ROPA HOMBRE</h4>
</div>

</section>

<h2>OFERTAS</h2>

<section class="ofertas-main">

    

    <article class="ofertas-android">
        <div>
            <a href="/productdetail"><img src="/img/img-producto-polera-rojo1.jpg" alt=""></a>
            <h5>20% OFF</h5>
        </div>
        <div>
            <a href="/productdetail"><img src="/img/img-producto-vestido-negro1.jpg" alt=""></a>
            <h5>25% OFF</h5>
        </div>
    </article>


    <article class="ofertas-tablet">
        <div>
            <a href="/productdetail"><img src="/img/img-producto-vestido-militar1.jpg" alt=""></a>
            <h5>30% OFF</h5>
        </div>
        <div>
            <a href="/productdetail"><img src="/img/img-producto-polera-rojo2.jpg" alt=""></a>
            <h5>20% OFF</h5>
        </div>
    </article>


    <article class ="ofertas-desktop">
        <div>
            <a href="/productdetail"><img src="/img/img-producto-polera-rojo3.jpg" alt=""></a>
            <h5>25% OFF</h5>
        </div>
        <div>
            <a href="/productdetail"><img src="/img/img-producto-vestido-negro2.jpg" alt=""></a>
            <h5>30% OFF</h5>
        </div>
    </article>

</section>



    </main>

<<<<<<< HEAD
    <%- include('../partials/footer') %> 
=======
    <%- include('../partials/footer') %>
>>>>>>> bdf01cd59ec2351905ca1a83126cf5a4db5b95f2
</body>
</html>